{% extends "base.html" %}

{% block page_title %}
    Home
{% endblock page_title %}

{% block content %}
    {{ now }}
    {% for room in rooms  %}
    <a href="{% url "rooms:detail" room.pk  %}" >
        <h1> {{ room.name }} / {{room.price}} </h1>
    </a>
    {% endfor %}
    
    <h5>
        {% if page_obj.has_previous %}
            <a href="?page={{page_obj.previous_page_number}}">Previous</a>
        {% endif %}
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        {% if page_obj.has_next %}
            <a href="?page={{page_obj.next_page_number}}">Next</a>
        {% endif %}
    </h5>

    {% for index in page_obj.paginator.page_range %}
        <a href="?page={{ index }}">{{index}}</a>
    {% endfor %}

{% endblock content %}


