{% extends "base.html" %}
{% block page_title %} {{user_obj.first_name}} {% endblock page_title %}

{% block search-bar %}
{% endblock search-bar %}

{% block content %}

    <div class="min-h-75vh">
        {% if not user.list %}
            <h3 class="mb-12 text-2xl text-center">Empty</h3>
        {% else %}
            <h3 class="mb-12 text-2xl text-center">{{user.list.name}}</h3>
        {% endif %}
        <div class="container flex flex-col items-center mx-auto pb-10">
            <div class="flex flex-wrap -mx-40 mb-10 w-full">
                {% for room in user.list.rooms.all %}
                {% include 'mixins/room_card.html' with room=room %}
                {% endfor %}
            </div>
        </div>
       
    </div>

{% endblock content %}