@tailwind base;
@tailwind components;
.search-box {
  transition: box-shadow 0.2s linear;
}
.nav_link {
  @apply ml-8 border-b-2 border-white h-full flex items-center;
}
.nav_link:hover {
  @apply border-gray-600;
}
.nav_link a {
  @apply py-10 px-5;
}
.btn {
  @apply w-full font-bold font-light text-center text-lg rounded-sm py-5  mb-2;
}
.btn.btn--small {
  @apply py-3 rounded-lg;
}
.btn-link {
  @apply w-full font-bold font-light text-center text-lg rounded-lg py-3 text-white bg-red-500 mb-2;
}
input,
textarea,
select {
  @apply btn text-left border border-gray-600 w-full px-5 py-5 rounded-sm font-light text-lg;
}
input:focus,
textarea:focus,
select:focus {
  @apply outline-none border-teal-500;
}
textarea {
  resize: none;
  height: 100px;
}
form .input {
  @apply mb-3;
}
form .input.has_error input {
  @apply bg-red-200 border-gray-600;
}
form .input.has_error input:focus {
  @apply border-gray-600;
}
@keyframes messageFadeIn {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  5% {
    opacity: 1;
    transform: translateY(50px);
  }
  95% {
    opacity: 1;
    transform: translateY(50px);
  }
  100% {
    opacity: 0;
    transform: translateY(-50px);
  }
}
.message {
  animation: messageFadeIn 5s ease-in-out forwards;
}
.message.error {
  @apply bg-red-700;
}
.message.info {
  @apply bg-blue-500;
}
.message.success {
  @apply bg-green-500;
}
.message.warning {
  @apply bg-yellow-400;
}
.border-section {
  @apply border-b border-gray-400 pb-5 mt-5;
}
.cal-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 10px;
  justify-items: center;
}
@tailwind utilities;
